<div>
    {{#each this}}
    <div class="card">
        <div class="class-header">
            <h2 clas="m-5"></h2>
        </div>
        <div class="card-body">
            {{comment.comment}}
        </div>
    </div>
    {{/each}}
</div>