<div class="card">
    <div class="card-header">
        <h2>Create New Post</h2>
    </div>
    <form class="card-body new-post-form">
        <div clas="form-group">
            <input type="hidden" id="post-id" value="{{post.id}}">
        </div>
        <div class="form-group mb-3">
            <label for="post-title">Ttitle</label>
            <input class="form-input" type="text" id="post-title">
        </div>
        <div class="form-group mb-3">
            <label for="post-content">Content</label>
            <input class="form-group" type="text" id="post-content">
        </div>
        <div>
            <button id="create-post" type="submit" class="btn btn-secondary fs-4">Create</button>
        </div>  
    </form>
</div>

<script src="/js/newPost.js"></script>