<div class="card">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <form class="card-body signup-form">
    <div class="form-group mb-3">
      <label for="username-signup">Username</label>
      <input class="form-input" type="text" id="username-signup" placeholder="Enter Username">
    </div>
    <div class="form-group mb-3">
      <label for="password-signup">Password</label>
      <input class="form-input" type="password" id="password-signup" placeholder="Enter Password">
    </div>
    <div class="form-group"> 
      <button id="signup-btn" type="submit" class="btn btn-secondary fs-4 w-100">Sign Up!</button>
      <div>
        <a href="/login" class="text-dark">Login instead!</a>
      </div>
    </div>
  </form>
</div>

<script src="./js/signup.js"></script>